<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/application.css">
<head>

<body>

  <div class="container">

    <!-- HEADER -->
    <header class="row"></header>


    <!-- HEADER -->
    <div class="row">
      <ul class="nav header-row">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Join Us<a>
          </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="training.html">Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Mailing List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="merchandise.html">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="membership.html">Become a Member!</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col-12">
        <h1 class="text-center">About Us</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
        Group Training Running Club (GTRC) began through friendships formed in NYRR's Group Training classes. We welcome runners of all speeds, ages, and abilities who are participating, or have participated, in the NYRR Group Training program, as well as their friends and family.
Through NYRR Group Training, runners meet at sites across the city for morning and evening interval, tempo, and long runs with coaches. When runners began to meet for additional training runs and social events, we recognized that many of us were running NYRR races unaffiliated. So, we created GTRC to create an official club "home" for our racing and social activities. Members of all speeds are encouraged, but never required, to run in the "club points" races designated by NYRR.
GTRC members cheer for each other, support each other's goals, and push towards our best selves. We are also committed to fun.
        </p>
      </div>
    </div>


    <!-- Team cards -->
    <div class="team-membership">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Board</h1>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-4">
          <div class="card">
            <img src="assets/images/team/jon.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Jon Tasher</h5>
              <p class="card-text text-center">President</p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card">
            <img src="assets/images/team/craig.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Craig Astreicher</h5>
              <p class="card-text text-center">Vice President</p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card">
            <img src="assets/images/team/becky.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Becky DePorte</h5>
              <p class="card-text text-center">Secretary</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="card">
            <img src="assets/images/team/lindsay.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Lindsay McCracken</h5>
              <p class="card-text text-center">Treasurer</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="assets/images/team/rosemary.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title text-center">Rosemary Dooley</h5>
              <p class="card-text text-center">Club Counsel</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Club Committee Heads</h1>
        </div>

        <div class="row justify-content-center">
          <div class="col-4">
            <div class="card">
              <img src="assets/images/team/maria.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-center">Maria Zachariadis</h5>
                <p class="card-text text-center">Social Committee</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card">
              <img src="assets/images/team/lexi.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-center">Alexandra Brill</h5>
                <p class="card-text text-center">Marketing Committee</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card">
              <img src="assets/images/team/koushik.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-center">Koushik Dasika</h5>
                <p class="card-text text-center">Technology Committee</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- FOOTER -->
    <div class="row footer justify-content-center">
      <div class="col-1">
        <a href="https://www.instagram.com/gtrunclub/">
          <img src="assets/images/Instagram.png">
        </a>
      </div>
      <div class="col-1">
        <a href="https://www.facebook.com/groups/2765710566833779/">
          <img src="assets/images/Facebook.png">
        </a>
      </div>
      <div class="col-1">
        <a href="mailto:hi@gtrc.run?Subject=Hello" target="_top">
          <img src="assets/images/Email.png">
        </a>
      </div>
    </div>

  </div>
</body>
