<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/application.css">
<head>

<body>

  <div class="container">
    <header class="row"></header>


    <!-- HEADER -->
    <div class="row">
      <ul class="nav header-row">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Join Us<a>
          </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="training.html">Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Mailing List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="merchandise.html">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="membership.html">Become a Member!</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center">Contact Us</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Email us at : Hi@GTRC.run</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="mc_embed_signup">
          <form action="https://run.us4.list-manage.com/subscribe/post?u=44cdb3879ac751af1566d54fe&amp;id=e410adaeb9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <h2>Subscribe to our email list</h2>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_44cdb3879ac751af1566d54fe_e410adaeb9" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>

    <!-- FOOTER -->
    <div class="row footer justify-content-center">
      <div class="col-1">
        <a href="https://www.instagram.com/gtrunclub/">
          <img src="assets/images/Instagram.png">
        </a>
      </div>
      <div class="col-1">
        <a href="https://www.facebook.com/groups/2765710566833779/">
          <img src="assets/images/Facebook.png">
        </a>
      </div>
      <div class="col-1">
        <a href="mailto:hi@gtrc.run?Subject=Hello" target="_top">
          <img src="assets/images/Email.png">
        </a>
      </div>
    </div>

  </div>
</body>
