<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/application.css">
<head>

<body>
  

  <div class="container">
    <header class="row"></header>


    <!-- HEADER -->
    <div class="row">
      <ul class="nav header-row">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Join Us<a>
          </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="training.html">Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Mailing List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="merchandise.html">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="membership.html">Become a Member!</a>
        </li>
      </ul>
    </div>

    <!-- Collage Coffee Image -->
    <div class="row collage-image">
    </div>

    <!-- About -->
    <div class="row about-gtrc">
        <div class="col-12">
          <p>
            Some of us came from NYRR group training; others didn't. We're a community of people who love to run, even if running doesn't always love us back. We run and play together. We cheer for each other, support each other's goals, and are always pushing toward our best selves. We're committed to fun and we drink coffee, like a lot of coffee.
          </p>
        </div>
    </div>

    <!-- Collage Coffee Image -->
    <div class="row middle-collage-image">
    </div>

    <div class="row justify-content-center">
      <strong>Follow us on Instagram!</strong> <a id="gtrc-insta-link" href="https://www.instagram.com/gtrunclub/">@GTRUNCLUB</a>
    </div>

    <!-- Collage Coffee Image -->
    <div class="row">
      <div class="col-3">
        <div class="insta-photo" id="insta-photo-1"></div>
      </div>

      <div class="col-3">
        <div class="insta-photo" id="insta-photo-2"></div>
      </div>

      <div class="col-3">
        <div class="insta-photo" id="insta-photo-3"></div>
      </div>

      <div class="col-3">
        <div class="insta-photo" id="insta-photo-4"></div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="row footer justify-content-center">
      <div class="col-1">
        <a href="https://www.instagram.com/gtrunclub/">
          <img src="assets/images/Instagram.png">
        </a>
      </div>
      <div class="col-1">
        <a href="https://www.facebook.com/groups/2765710566833779/">
          <img src="assets/images/Facebook.png">
        </a>
      </div>
      <div class="col-1">
        <a href="mailto:hi@gtrc.run?Subject=Hello" target="_top">
          <img src="assets/images/Email.png">
        </a>
      </div>
    </div>

  </div>
</body>
