<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/application.css">
<head>

<body>

  <div class="container">
    <header class="row"></header>


    <!-- HEADER -->
    <div class="row">
      <ul class="nav header-row">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Join Us<a>
          </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="training.html">Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Mailing List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="merchandise.html">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="membership.html">Become a Member!</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center">Become a Member!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>
          Thank you for being a member of GTRC and supporting our club! Your dues pay for things like insurance (so we can host events), technology, gear, and lots more stuff to come in 2020. We're excited to see what this can become!
        </p>
      </div>
    </div>

    <!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-sku_Gi4kuWlVl7u5Nh"
  role="link"
>
  Click here to pay your 2020 dues ($25)
</button>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_live_M8pDOb8WwMpMWTgY1Z0uzK8T00MJUpM6Vp');

  var checkoutButton = document.getElementById('checkout-button-sku_Gi4kuWlVl7u5Nh');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_Gi4kuWlVl7u5Nh', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'https://gtrc.run/success',
      cancelUrl: 'https://gtrc.run/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

  </div>
</body>
