<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/application.css">
<head>

<body>

  <div class="container">
    <header class="row"></header>

    <!-- HEADER -->
    <div class="row">
      <ul class="nav header-row">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Join Us<a>
          </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="training.html">Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Mailing List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="merchandise.html">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="membership.html">Become a Member!</a>
        </li>
      </ul>
    </div>


    <div class="row">
      <div class="col">
        <h1 class="text-center">Buy Team Merchandise</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>
        Good news! Our New Balance Team Store is once again open for business. Please make sure to get your orders in before October 30, when the purchase-window will close. All orders are processed at the end of each purchase-window. Items will be shipped directly to you except singlets which have to go to one address based on the production facility requirements. The singlets will go to Becky DePorte and she will distribute them to you. Click on the link below to check out all the great items in our New Balance Store! <strong>Remember that all items in our Team New Balance store are at least 25% off the regular retail price.  Items customized with the GTRC logo will have an additional $6 fee for the logo. </strong>
        </p>

        <p>
        If you purchased a singlet during a previous purchase-window, please contact <a href="mailto:rebeccadeporte@gmail.com">Becky DePorte</a>, to make arrangements to have it sent to you or to pick it up.
        </p>
        <a href="https://www.newbalanceteam.com/team/member/order?orderId=58607"> New Balance Store </a>
      </div>
    </div>


    <!-- FOOTER -->
    <div class="row footer justify-content-center">
      <div class="col-1">
        <a href="https://www.instagram.com/gtrunclub/">
          <img src="assets/images/Instagram.png">
        </a>
      </div>
      <div class="col-1">
        <a href="https://www.facebook.com/groups/2765710566833779/">
          <img src="assets/images/Facebook.png">
        </a>
      </div>
      <div class="col-1">
        <a href="mailto:hi@gtrc.run?Subject=Hello" target="_top">
          <img src="assets/images/Email.png">
        </a>
      </div>
    </div>

  </div>
</body>
